<br><br><br><br><br><br><br><br>

<div class="row" >
	<div class="col-md-1" ></div>
	<div class="col-md-10" >		
		<div class="row" >
			<div class="col-md-8" >
			<h1>Laundry Now Online at NIT Silchar </h1><br>
			<h3>We assure you a quality Wash <br> at very affordable price </h3>			
			</div>
			<div class="col-md-2" >
				<br>
				<center><i class="fa fa-fw fa-list-alt fa-5x " ></i></center>
				<center><hr class="small" ></center>
				<center><h3>Price list</h3></center>
			</div>
			<div class="col-md-2" >
				<br>
				<center><i class="fa fa-fw fa-search-plus fa-5x " ></i></center>
				<center><hr class="small" ></center>
				<center><h3>Trace Order</h3></center>
			</div>

		</div>
	</div>
	<div class="col-md-1" ></div>


</div>

<br><br><br>
<section>

        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Choose from our Laundry Services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-ship wow bounceIn text-primary"></i>
                        <h3>Wash & Iron</h3>
                        <p class="text-muted">Some text Some text Some text <br> ome text Some text Some text .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cart-arrow-down wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Premium Wash & Iron</h3>
                        <p class="text-muted">Some text Some text Some text <br> ome text Some text Some text .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bed wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Dry Clean</h3>
                        <p class="text-muted">Some text Some text Some text <br> ome text Some text Some text .</p>
                    </div>
                </div>
            </div>
        </div>

</section>

<section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">All You Need In 3 Easy Steps</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-laptop wow bounceIn text-primary"></i>
                        <h3>Select a service</h3>
                        <p class="text-muted">Browse and select a <br>  Laundry service provided by us and ..</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cart-arrow-down wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Place a order</h3>
                        <p class="text-muted">Book a service or place <br> a order with us and ..</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bed wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Relax</h3>
                        <p class="text-muted">Now just relax until <br> you order arives</p>
                    </div>
                </div>
            </div>
        </div>
</section>

<hr class="full">