<br><br>
<div class="row" >
	<div class="col-md-1" ></div>
	<div class="col-md-10" >		
		<div class="row" >
			<div class="col-md-3" >
				<h2>HOZBEE Services</h2>
				<hr>
				<h3>Follow us on ..</h3><br>
				<div class="row" >
					<div class="col-md-3" >
						<i class="fa fa-fw fa-facebook-square fa-5x "></i>
					</div>
					<div class="col-md-3" >
						<i class="fa fa-fw fa-twitter-square fa-5x"></i>			
					</div>
					<div class="col-md-3" >
						<i class="fa fa-fw fa-google-plus-square fa-5x " ></i>				
					</div>
					<div class="col-md-3" >
						<i class="fa fa-fw fa-instagram fa-5x "></i>				
					</div>			
				</div>			
			</div>

			<div class="col-md-3" >
				<!-- Empty  -->
			</div>
			<div class="col-md-3" >
				<center><h2>Contact Us</h2></center>  <br>
				<center> <i class="fa fa-fw fa-envelope-square fa-5x "></i> </center>
			</div>
			<div class="col-md-3" >

					<div class="col-md-6" >
						<h3>Services</h3> <br>
						<h4> Laundry </h4> 
						<h4> Food Station </h4>
						<h4> Party Packages </h4> 
						<h4> Cake Order </h4>
					</div>
					<div class="col-md-6" >						
						<h3>Hozbee</h3> <br>
						<h5> About Us </h5>
						<h5> Help/F.A.Q </h5>
						<h5> Team </h5>
						<h5> Tearms & conditions </h5>
						<h5> Privacy/Policy </h5>
					</div>
			</div>
		</div>
	</div>
	<div class="col-md-1" ></div>
</div>
<br><br>
<footer> <center> <h4><b>  Copyright &copy 2016-17 Hozbee Online Services. All rights reserved. </b></h4> </center> </footer>