<div  id="page-top">



    <section class="bg-primary">
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded"> <h4>Dive into various services you can avail</h4> </p>
                    <p class="text-faded">  <h3>Like Our Facebook page </h3>  <i class="fa fa-fw fa-hand-pointer-o fa-3x"></i> </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Laundry</h3>
                        <p class="text-muted">Tired of doing laundry, get your laundry done easily.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Foodstation</h3>
                        <p class="text-muted">Bored of your canteen and mess, order yummy foods for your tummy.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Party Packages</h3>
                        <p class="text-muted">Want to celebrate a party, order various things from here.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Cake Order</h3>
                        <p class="text-muted">Wanted to order a custom cake with name and message for someone special.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>

            <div class="container ">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">All You Need In 3 Easy Steps</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-laptop wow bounceIn text-primary"></i>
                            <h3>Select a service</h3>
                            <p class="text-muted">Browse and select a <br>  service provided by us and ..</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-cart-arrow-down wow bounceIn text-primary" data-wow-delay=".1s"></i>
                            <h3>Place a order</h3>
                            <p class="text-muted">Book a service or place <br> a order with us and ..</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-bed wow bounceIn text-primary" data-wow-delay=".2s"></i>
                            <h3>Relax</h3>
                            <p class="text-muted">Now just relax until <br> you order arives</p>
                        </div>
                    </div>
                </div>
            </div>

    </section>


    <section>
        <div class="container" >
            <div class="row" >
                <div class="col-lg-12 pull-left" >
                    <h1>Why HOZBEE ??</h1>
                </div>
            </div>
            <div class="row" >
                <div class="col-lg-12" >
                    <h3> AT hozbee we are aimed at bringing a standardization in Hozpitality domain . To sttrengthen <br> our trust we provide the best services with a really convinient approach.. </h3>
                    <li><h3>Easy and Quick Service</h3></li>
                    <li><h3>Quality Assurance</h3></li>
                    <li><h3>Excellent Quality </h3></li>

                </div>
            </div>



        </div>


    </section>

</div>

<hr class="full">
