
<div class="row" >
	<div class="col-md-1" ></div>
	<div class="col-md-10" >
		<br><br><br>
		<h2>Laundry Price List</h2>
		<hr class="full" >
		<div class="row" >
			<div class="col-md-3" >				
			<h3>Dry and wash</h3>
			<br><br><br><br>
			<center><i class="fa fa-5x plus fa-send "></i></center>
			<hr class="small" >
			<center><h4>Book Now</h4></center>
			</div>
			<div class="col-md-3" >
				<div class="box" >
					<div class="box-header" >
						<h3>Men</h3>
					</div>
					<div class="box-body" >
						<table class="table table-bordered table-hover">
							<thead>
								<th>Items</th>
								<th>Price</th>
							</thead>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3" >
				<div class="box" >
					<div class="box-header" >
						<h3>Men</h3>
					</div>
					<div class="box-body" >
						<table class="table table-bordered table-hover">
							<thead>
								<th>Items</th>
								<th>Price</th>
							</thead>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3" >
				<div class="box" >
					<div class="box-header" >
						<h3>Men</h3>
					</div>
					<div class="box-body" >
						<table class="table table-bordered table-hover">
							<thead>
								<th>Items</th>
								<th>Price</th>
							</thead>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<hr class="full" >
		<div class="row" >
			<div class="col-md-3" >				
			<h3>Premium Dry and wash</h3>
			<br><br><br><br>
			<center><i class="fa fa-5x plus fa-send "></i></center>
			<hr class="small" >
			<center><h4>Book Now</h4></center>
			</div>
			<div class="col-md-3" >
				<div class="box" >
					<div class="box-header" >
						<h3>Men</h3>
					</div>
					<div class="box-body" >
						<table class="table table-bordered table-hover">
							<thead>
								<th>Items</th>
								<th>Price</th>
							</thead>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3" >
				<div class="box" >
					<div class="box-header" >
						<h3>Men</h3>
					</div>
					<div class="box-body" >
						<table class="table table-bordered table-hover">
							<thead>
								<th>Items</th>
								<th>Price</th>
							</thead>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3" >
				<div class="box" >
					<div class="box-header" >
						<h3>Men</h3>
					</div>
					<div class="box-body" >
						<table class="table table-bordered table-hover">
							<thead>
								<th>Items</th>
								<th>Price</th>
							</thead>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<hr class="full" >

		<div class="row" >
			<div class="col-md-3" >				
			<h3>Dry clean</h3>
			<br><br><br><br>
			<center><i class="fa fa-5x plus fa-send "></i></center>
			<hr class="small" >
			<center><h4>Book Now</h4></center>
			</div>
			<div class="col-md-3" >
				<div class="box" >
					<div class="box-header" >
						<h3>Men</h3>
					</div>
					<div class="box-body" >
						<table class="table table-bordered table-hover">
							<thead>
								<th>Items</th>
								<th>Price</th>
							</thead>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3" >
				<div class="box" >
					<div class="box-header" >
						<h3>Men</h3>
					</div>
					<div class="box-body" >
						<table class="table table-bordered table-hover">
							<thead>
								<th>Items</th>
								<th>Price</th>
							</thead>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3" >
				<div class="box" >
					<div class="box-header" >
						<h3>Men</h3>
					</div>
					<div class="box-body" >
						<table class="table table-bordered table-hover">
							<thead>
								<th>Items</th>
								<th>Price</th>
							</thead>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
							<tr>
								<td> Shirt/Tshirt </td>
								<td> Rs. 8/- </td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<hr class="full" >



	</div>
	<div class="col-md-1" ></div>
</div>








<hr class="full" >


