<br><br><br><br><br><br><br><br>

<div class="row" >
	<div class="col-md-1" ></div>
	<div class="col-md-10" >		
		<div class="row" >
			<div class="col-md-8" >
			<h1>Laundry Now Online at NIT Silchar </h1><br>
			<h3>We assure you a quality Wash <br> at very affordable price </h3>			
			</div>
			<div class="col-md-2" >
				<br>
				<center><i class="fa fa-fw fa-list-alt fa-5x " ></i></center>
				<center><hr class="small" ></center>
				<center><h3>Price list</h3></center>
			</div>
			<div class="col-md-2" >
				<br>
				<center><i class="fa fa-fw fa-search-plus fa-5x " ></i></center>
				<center><hr class="small" ></center>
				<center><h3>Trace Order</h3></center>
			</div>

		</div>
	</div>
	<div class="col-md-1" ></div>


</div>

<br><br><br>
<section>

        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Choose from our Laundry Services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-ship wow bounceIn text-primary"></i>
                        <h3>Wash & Iron</h3>
                        <p class="text-muted">Some text Some text Some text <br> ome text Some text Some text .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cart-arrow-down wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Premium Wash & Iron</h3>
                        <p class="text-muted">Some text Some text Some text <br> ome text Some text Some text .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bed wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Dry Clean</h3>
                        <p class="text-muted">Some text Some text Some text <br> ome text Some text Some text .</p>
                    </div>
                </div>
            </div>
        </div>

</section>

<section>
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">All You Need In 3 Easy Steps</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-laptop wow bounceIn text-primary"></i>
                        <h3>Select a service</h3>
                        <p class="text-muted">Browse and select a <br>  Laundry service provided by us and ..</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cart-arrow-down wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Place a order</h3>
                        <p class="text-muted">Book a service or place <br> a order with us and ..</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bed wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Relax</h3>
                        <p class="text-muted">Now just relax until <br> you order arives</p>
                    </div>
                </div>
            </div>
        </div>
</section>

<hr class="full">
<section>
	
	    <div class="container ">
            <div class="row">
                <div class="col-lg-12 pull-left">
                    <h2 class="section-heading">Order Confirmation <b>  step :  {{ step }}</b></h2>
                    <hr class="full">
                </div>
            </div>
        </div>

        <!-- Initial order cofirmation page 1 -->
        <div class="container" ng-show="showpage1" >
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-server wow bounceIn text-primary"></i>
                        <h3>Select a pickup address</h3>
                        <p class="text-muted">Wheather its you room  <br> or other place we <br> pickup from any where </p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 pull-left">
	                <div class="row" >
	                	<div class="col-md-6" >                		
		                    <div>
		                        <h3>Pickup address : </h3>
		                        <div class="box box-info" >
		                        	<div class="box-header with-border" >
		                        		<h4 class="box-title" > Default address </h4><i class="fa fa-2x fa-edit wow bounceIn text-primary pull-right"></i>
		                        	</div>
		                        	<div class="box-body" >
		                        	<b>Name : </b> Rohit Sharma <br>
		                        	<b> Address : </b> Hostel No : 6 , Room No : 6036
		                        		
		                        	</div>
		                        	<div class="box-footer" >
		                        		<i class="fa fa-2x fa-plus-square wow bounceIn text-primary pull-left"></i><h4><b>Add a new address</b></h4>
		                        	</div>                        	
		                        </div>
		                    </div>
	                	</div>

	                	<div class="col-md-6" >		                       
								<div class="box box-info">
								<div class="box-header with-border">
								  <h3 class="box-title">Alternate address : </h3><b class="pull-right" > Why ??</b>
								</div>
								<!-- /.box-header -->
								<!-- form start -->
								<form class="form-horizontal" ng-submit="login()" >
								  <div class="box-body">
								    <div class="form-group">
								      <div class="col-sm-12">
								        <input type="text" class="form-control" ng-model="username"  id="inputEmail3" placeholder="Name" required >
								      </div>
								    </div>
								    <div class="form-group">
								      <div class="col-sm-12">
								        <input type="text" class="form-control" ng-model="password" id="inputPassword3" placeholder="Address line 1" required>
								      </div>
								    </div>
								    <div class="form-group">
								      <div class="col-sm-12">
								        <input type="text" class="form-control" ng-model="password" id="inputPassword3" placeholder="Address line 2" >
								      </div>
								    </div>
								    <div class="form-group">
								      <div class="col-sm-12">
								        <input type="text" class="form-control" ng-model="password" id="inputPassword3" placeholder="PIN" required>
								      </div>
								    </div>

								  </div>
								  <!-- /.box-body -->
								  <div class="box-footer">
								  		<center>  <input type="submit" value="Submit">  </center>
								  </div>
								  <!-- /.box-footer -->
								</form>
								</div>
	                	</div>                	
	                </div>
                </div>
            </div>
        </div>
        <!-- Initial order cofirmation page 2 -->
        <div class="container" ng-show="showpage2">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-server wow bounceIn text-primary"></i>
                        <h3>Pick up address selected</h3>
                        <p class="text-muted">Click confirm Order   <br> to place a order <br> !! And Chillax !! </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pull-left"><br><br><br>
                	<center><h3> Selected Address : </h3>  </center><br>
	                <b>Name :</b>Bishal Paul<br>
	                <b>Address :</b>Hostel No : 6, Room No : 6036<br>
	                <b>Address :</b>NIT Silchar<br>
                </div>                
                <div class="col-lg-4 col-md-6 pull-left"><br><br><br><br><br><br>
                <button class="btn-primary" > Confirm</button>
                </div>
            </div>
        </div>

        <!-- Initial order cofirmation page 3 -->
        <div class="container" ng-show="showpage3">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-server wow bounceIn text-primary"></i>
                        <h3>Order Placed</h3>
                        <p class="text-muted">Your order has been placed <br> sucessfully, just wait for <br> the dhobi to pick up . </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pull-left"><br><br><br>
                	<center><h3>Order Confirmation </h3>  </center><br>
                	<h4>Your order will get picked up from this address</h4>
	                <b>Name :</b>Bishal Paul<br>
	                <b>Address :</b>Hostel No : 6, Room No : 6036<br>
	                <b>Address :</b>NIT Silchar<br>
                </div>                
                <div class="col-lg-4 col-md-6 pull-left"><br><br><br><br><br><br>
               		<h3>Thank You</h3>
                </div>
            </div>
        </div>
</section>
<hr class="full">



