<br><br><br><br><br><br>
	<center> <h1>Customer Login</h1> </center>
	<div class="container" >
		<div class="row" >
			<div class="col-md-3" ></div>
			<div class="col-md-6" >
			  <div class="login-box-body">
			    <p class="login-box-msg">Sign in to start your day..</p>

			    <form ng-submit="login()">
			      <div class="form-group has-feedback">
			        <input type="email" ng-model="username" class="form-control" placeholder="Email">
			        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			      </div>
			      <div class="form-group has-feedback">
			        <input type="password" ng-model="password" class="form-control" placeholder="Password">
			        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
			      </div>
			      <div class="row">
			      	<div class="col-xs-1" > </div>
			        <div class="col-xs-7">
			          <div class="checkbox icheck">
			            <label>
			              <input type="checkbox"> Remember Me
			            </label>
			          </div>
			        </div>
			        <!-- /.col -->
			        <div class="col-xs-4">
			          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
			        </div>
			        <!-- /.col -->
			      </div>
			    </form>

			    <a href="#">I forgot my password</a><br>
			    <a href="register.html" class="text-center">Register a new membership</a>

			  </div>


<br><br><br><br><br><br>

				

			</div>
			<div class="col-md-3" ></div>


		</div>
	</div>

</div>